@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sans: 'Inter', sans-serif;
    @apply font-sans;
    @apply bg-light;
    @apply text-dark;
  }

  body {
    @apply text-xs leading-relaxed;
    line-height: 1.6;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-normal mt-4 mb-2;
  }

  p, ul, ol {
    @apply mb-4;
  }

  a {
    @apply underline;
    @apply underline-offset-2;
    @apply cursor-pointer;
  }

  code {
    @apply text-accent2 bg-gray-200 px-2 py-1 rounded;
  }

  .font-medium, .text-2xl {
    font-weight: normal !important;
  }
  
  .markdown-content {
    @apply text-xs leading-5;
  }
  .carousel-container {
    display: flex;
    overflow-x: auto;
    gap: 10px; /* Adjust the gap between cards */
    padding: 10px;
  }
  
  .message-card {
    width: 100%;
    max-width: 600px; /* Adjust as needed */
    margin: 0 auto;
    background-color: #fff; /* Almost white background */
    border-radius: 8px; /* Rounded borders */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    padding: 20px; /* Inner spacing */
    /* Add more styling as needed */
  }
  .timer {
    text-align: center; /* Center the timer text */
    font-size: 1.2em;
    color: #000; /* Default color */
    transition: color 0.3s ease;
    margin-top: 10px; /* Add some spacing above the timer */
  }
  
  .timer span {
    background-color: #f3f3f3; /* Light background for the timer text */
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  }
  
  .timer.recording span {
    color: red;
    animation: pulse 2s infinite;
  }
  
  @keyframes pulse {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
  }
  
  .wave-container {
    transition: opacity 0.3s ease-in-out, color 0.3s ease-in-out;
    opacity: 0.3; /* Grayed-out state when not recording */
    color: #bfbfbf; /* Gray color */
  }
  
  .wave-container.recording {
    opacity: 1; /* Fully visible when recording */
    color: #f6f; /* Adjusted to pink for recording */
  }
  
  
}
